.card {
  width: 50rem;
}

div.card-body {
  padding: 0;
  margin: 0;
}

div.card-header {
  width: 100%;
  font-size: 26px;
  font-weight: 600;
}

p.desc-txt {
  padding: 20px;
}

.others {
  border: 0;
}
div.card-title {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.pre-img {
  width: 150px;
  height: 250px;
  margin: 7px;
}
