#card-actions {
  padding: 5px;
  margin: 0;
}

#delProfile {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border: 0;
  background-color: #dc3545;
}

#profile-card {
  padding: 10px;
  margin: 0;
}

.action-btn {
  margin: 5px;
}
