#card-actions {
  padding: 5px;
  margin: 0;
}

#delProfile {
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border: 0;
  background-color: #dc3545;
}

.profile-card,
.update {
  padding: 10px;
  margin: 20px 10px;
  width: 30rem;
}

.action-btn {
  margin: 5px;
}

.update {
  background-color: #fff;
  border-radius: 4px;
}
